h1{
    background: transparent;
}
.formOuter{
    height: 80vh;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 10vw;
}
.form{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 40vw;
    padding: 3rem 10vw;
    border-left: none;
    background: rgb(54, 54, 54);
    box-shadow: black 0 1rem 1rem;
    border-radius: 2rem;
}
.input-container {
    display: flex;
    background: transparent;
    margin-bottom: 15px;
}
/* .form input{ */
    .form input{
        width: 100%;
    margin: 0.3rem 0rem;
    line-height: 2px;
    padding: 1rem 3rem;
    border: none;
    background-color: white;
    border-radius: 0.5rem;
    outline-style: none;
    font-size: 1rem;
    background: rgb(61, 59, 59);
    color: rgba(214, 199, 199, 0.934);
    text-decoration: none;

}
.form button{
    margin-top: 1rem;
    padding: 1rem 1rem;
    border-radius: 1rem;
    background: rgb(207, 85, 218);
    border: none;
    color: white;
    cursor: pointer;
}
.form > button:hover{
    filter: brightness(1.4);
}
.icons{
    padding: 1rem;
    float: right;
    position: absolute;
    background: transparent;
}

.special input{
    line-height: 2rem;
    width: 40vw;
}
.special svg{
    padding: 1.5rem 1rem;
}
@media(max-width:500px){
    .form{
        width: 70%;
    }
    .formOuter{
        padding: 0 5vw;
    }
}