body{
  /* background-image: url(./images/bg2.jpg); */
  background: #2B2B2B;
  text-decoration: none;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
}
::-webkit-scrollbar{
  width: 1rem;
}
::-webkit-scrollbar-track{
  background: #2b2b2b;
}
::-webkit-scrollbar-thumb{
  background: #1e1d1d;
  height: 5px;
}
.postMain{

  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
.posts{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  width: 40vw;
  height: 90vh;
  overflow-y: scroll;
  padding: 2rem 0;
}
.posts::-webkit-scrollbar {
  display: none;
}