*{
  /* background-image: url(./images/bg2.jpg); */
  background: #0F0E0E;
  background: #2B2B2B;
  text-decoration: none;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
}